body {
  font-size: 1.6rem;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-toolbar {
  height: calc(100vh - (8rem + 4rem));
  width: 40vw;
  overflow: scroll;
}

.App-header {
  height: 8rem;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
}

.App-main {
  height: calc(100vh - (8rem + 4rem));
}

.App-footer {
  height: 4rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
